.voyage-card .css-g6qnsb {
  background-position: top !important;
  height: 170px;
}

.css-1p9dq2h {
  height: 320px !important;
  position: relative;
  min-width: 250px !important;
  max-width: 300px !important;
  margin-bottom: 10px !important;
}

.css-1pwe92q.e1hnx4sx0{
  font-weight: bold;
  white-space: normal;
  font-size: 1.2em;
}

.css-106d0ed {
  display:none !important;
}

.card_price {
    width: 100px;
    height: 35px;
    position: absolute;
    background-color: rgba(53,126,221, 0.5);
    top: 120px;
    left: 0px;
    color: rgb(250, 250, 250);
    font-size: 18px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    letter-spacing: 0.03rem;
}
